<main class="form-signin">
    <h1 class="h3 mb-3 fw-normal">Edit <%= resource_name.to_s.humanize %></h1>
    <hr />
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <p><%= render "devise/shared/error_messages", resource: resource %></p>

    <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        <%= f.label :email, class: "text-dark" %>
    </div>
    <div class="form-floating">
        <%= f.text_field :name, autofocus: true, autocomplete: "email", class:"form-control" %>
        <%= f.label :name, class: "text-dark" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="form-floating">
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
        <%= f.label :password, class: "text-dark" %> <i>(leave blank if you don't want to change it)</i>
    </div>
    <div class="form-floating">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        <%= f.label :password_confirmation, class: "text-dark" %>
    </div>
    <div class="form-floating">
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
        <%= f.label :current_password, class: "text-dark" %> <i>(we need your current password to confirm your changes)</i>
    </div>
    <%= f.submit "Update", class: "w-100 btn btn-lg btn-secondary" %>
    <% end %>
    <hr />
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "bg-danger text-white" %></p>
    <div class="auth-links">
        <%= link_to "Back", :back %>
    </div>
</main>