<main class="form-signin">
    <h2>Change your password</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-floating">
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
        <%= f.label :password, class: "text-dark" %> <i>(leave blank if you don't want to change it)</i>
    </div>
    <div class="form-floating">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control" %>
        <%= f.label :password_confirmation,"Confirm new password", class: "text-dark" %>
    </div>
    <%= f.submit "Change my password",class: "w-100 btn btn-lg btn-secondary" %>
    <% end %>
    <div class="auth-links">
        <%= render "devise/shared/links" %>
    </div>
</main>