<p><%= link_to project.title, project_show_path(project) %></p>
<p><%= project.subtitle %></p>
<p><%= project.body %></p>
<%= image_tag project.thumb_image unless project.thumb_image.nil? %>
<%= link_to "Edit", edit_project_path(project.id) %>
<%= link_to "Delete Project", project_path(project), method: :delete, data: {confirm: "are you sure?"} %>