<main class="form-signin">
    <h2>Log In</h2>
    <hr />
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        <%= f.label :email, class: "text-dark" %>
    </div>
    <div class="form-floating">
        <%= f.password_field :password, autofocus: true, autocomplete: "email", class:"form-control" %>
        <%= f.label :password, class: "text-dark" %>
    </div>

    <% if devise_mapping.rememberable? %>
    <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
    </div>
    <% end %>
    <%= f.submit "Log in",class: "w-100 btn btn-lg btn-secondary"  %>
    <% end %>
    <hr />
    <div class="auth-links">
        <%= render "devise/shared/links" %>
    </div>
</main>