<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keyword" content=<%= @seo_keywords %> />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="container d-flex w-100 vh-100 p-3 mx-auto flex-column">
        <%= render "shared/application_nav" %>
        <p class="notice text-danger"><%= notice %></p>
        <p class="alert text-danger"><%= alert %></p>
        <%= yield %>
        <%= source_helper("application") %>
        <%= render "shared/application_footer" %>
    </div>
</body>

</html>