<!DOCTYPE html>
<html>

<head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keyword" content=<%= @seo_keywords %> />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'projects', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= render "shared/project_nav" %>
    <%= alerts %>
    <%= render "shared/project_masthead" unless logged_in?(:site_admin) %>
    <%= yield %>
    <%= render "shared/project_footer" %>
    <%= source_helper("project") %>
</body>

</html>